<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="left">
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="left links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
      {{#if session.isAuthenticated}}
          <a class="logoutBtn" {{action 'invalidateSession'}}>Logout</a>
<<<<<<< HEAD
	  {{#link-to 'user'}}
      {{#if currentUser.user}}
        <a>{{currentUser.user.username}}</a>
        {{/if}}
    {{/link-to}}
=======
>>>>>>> origin/master
        {{else}}
       {{#link-to 'login'}}
        Login
      {{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
