    <div class="container">
	<div class="row">
	
        <div class="col-md-6 col-md-offset-3">
  <h4 style="border-bottom: 1px solid #c5c5c5;">
    <i class="glyphicon glyphicon-user">
    </i>
    Email Confirmation Code
  </h4>
  {{#paper-form onSubmit=(action "continue" model) as |form|}}
  <div style="display:;" id="form-olvidado">
        <span class="help-block">
          Check your email for confirmation code and enter the code below
        </span>
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="icon-lock"></i></span>
    {{form.input id="resetPasswordToken" label="Email Confirmation Code" type="email" value=resetPasswordToken onChange=(action (mut resetPasswordToken)) required=true}}
        </div>
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
          {{form.input label="Email" type="email" value=email onChange=(action (mut email)) required=true}}
        </div>
        
        {{#form.submit-button type="submit" onSubmit=(action "continue" model) raised=true id='continue-btn' primary=true}}Continue{{/form.submit-button}}
  </div>
   {{/paper-form}}
</div>
	</div>
</div>
