<div class="tmpl-hint">start applayout.hbs, tagName: div, className: </div>

<div id="restdudeAppLayoutNavRegion">
</div>
<div id="restdudeAppLayoutContentRegion" class="row">
</div>

<div class="tmpl-hint">end applayout.hbs </div>