<header id="restdudeHeaderRegion" class="app-header navbar">
</header>

<div class="app-body">
    <div class="sidebar"  id="restdudeSidebarRegion">
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
      <ol id="restdudeBreadcrumbRegion" class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>

            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">

            </li>
        </ol>


        <div class="container-fluid" id="restdudeMainContentRegion">
        </div>
    </main>
    <aside class="aside-menu">

    </aside>


</div>

<footer class="app-footer">
    <div id="restdudeFooterRegion"></div>
    <div id="restdudeModalRegion" class="modal fade" tabindex='-1'></div>
    <div id="hiddenWrapper" style="display: none"></div>
    <div class="social-form-container">
    </div>
</footer>