<div class="tmpl-hint">start CaseDetailsLayout.hbs</div>
    {{application.title}} / {{name}}:
    <h1 class="display-3">
         {{title}}
    </h1>


    <div class="row">

      <!-- main column -->
      <div class="col-md-9">

        <!-- description -->
        <h3>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
            Description
          </a>
        </p>
        <div class="collapse" id="collapseDescription">
          <blockquote class="blockquote">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </blockquote>
        </div>

        <!-- comments -->
        <h3>
           Comments
        </p>
        <div class="row">
          <div class="commentsRegion comments col-md-9" id="comments">
              <h3 class="m-b-2">Comments</h3>


              <div class="row p-t-2">
                  <div class="col-xs-12">
                      <a href="" class="btn btn-sm btn-primary">Comment</a>
                  </div>
              </div>

          </div>
        </div>
      </div>
      <!-- right side details column -->
      <div class="col-md-3">


      </div>
    </div>






<div class="tmpl-hint">end CaseDetailsLayout.hbs</div>
