<div class="tmpl-hint">start CaseComment.hbs</div>
<div class="comment-avatar col-md-1 col-sm-2 text-xs-center p-r-1">
    <a href=""><img class="m-x-auto img-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/w102.jpg" alt="avatar"></a>
</div>
<div class="comment-content col-md-11 col-sm-10">
    <h6 class="small comment-meta"><a href="#">{{createdBy.username}}</a> | {{momentFromNow createdDate}}</h6>
    <div class="comment-body">
        {{{showdownToMarkup content}}}
    </div>
</div>
<div class="tmpl-hint">end CaseComment.hbs</div>
