<div class="tmpl-hint">start md-report-layout.hbs</div>
<div class="panel-group" id="restdudeModelDrivenSearchLayout-accordion"
	role="tablist" aria-multiselectable="true">

	<!--div class="panel panel-default">
		<div class="card-header" role="tab"
			pk="restdudeModelDrivenSearchLayout-headingOne">
			<h3 class="card-title">

				<a class="collapsed" data-toggle="collapse"
					data-parent="#restdudeModelDrivenSearchLayout-accordion"
					href="#collapseOne" aria-expanded="true"
					aria-controls="collapseOne">Search</a>
			</h3>
		</div>

		<div pk="collapseOne" class="panel-collapse collapse"
			role="tabpanel"
			aria-labelledby="restdudeModelDrivenSearchLayout-headingOne"-->
			<!-- class="card-block" -->
			<div
				id="restdudeModelDrivenSearchLayout-sideBarRegion">
				<!--  panel content -->
			</div>
		<!--/div>
	</div-->

	<!--div class="panel panel-default">
		<div class="card-header" role="tab"
			pk="restdudeModelDrivenSearchLayout-headingTwo">
			<h3 class="card-title">
				<a class="collapsed" data-toggle="collapse"
					data-parent="#restdudeModelDrivenSearchLayout-accordion"
					href="#collapseTwo" aria-expanded="false"
					aria-controls="collapseTwo">Results</a>
			</h3>
		</div>
		<div pk="collapseTwo" class="panel-collapse collapse" role="tabpanel"
			aria-labelledby="restdudeModelDrivenSearchLayout-headingTwo"-->
			<!--  class="card-block" -->
			<div
				id="restdudeModelDrivenSearchLayout-contentRegion">
				<!--  panel content -->
			</div>
		<!--/div>
	</div-->

</div>
<div class="tmpl-hint">end md-report-layout.hbs</div>
