<div class="tmpl-hint">start TopicLayout</div>

<div class="row">
  <div class=" col-lg-12 contentRegion">
  </div>
</div>
<div class="row">
  <div class=" col-lg-12 contentChildRegion">
  </div>
</div>
<div class="tmpl-hint">end TopicLayout</div>
