<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Core UI Modules</title>
    <link rel="stylesheet" href="../css/app-core/layout/pages/site.css" type="text/css"/>
    <link rel="stylesheet" href="/lib/modules/search/includes.css" type="text/css"/>
</head>
<body>

<header>
    <div class="l-header">
        <img width="50px" height="50px" class="l-header__logo" src="/core/assets/images/mns-digital-logo.png"/>
        <h1>Core UI Modules</h1>
    </div>
</header>

<main>
    <div class="l-main__layout">
        <input id="screen-size-phone" type="radio" name="screen-size" value="phone" hidden/>
        <input id="screen-size-tablet" type="radio" name="screen-size" value="desktop" hidden/>
        <input id="screen-size-desktop" type="radio" name="screen-size" value="desktop" hidden checked/>
        <nav>
            <div class="l-screen-size__icon">
                <label for="screen-size-phone" class="l-screen-size__icon--phone mns-d-ex-icon-phone"></label>
                <label for="screen-size-tablet" class="l-screen-size__icon--tablet mns-d-ex-icon-tablet"></label>
                <label for="screen-size-desktop" class="l-screen-size__icon--desktop mns-d-ex-icon-desktop"></label>
            </div>
        </nav>

        <section>
            <div class="l-screen-size__content l-main__content">
                {{{> examples/templates/%template/index}}}
            </div>
        </section>
    </div>
</main>
</body>
</html>
