<link rel="stylesheet" href="/css/modules/nav/site.css" type="text/css"/>
<link rel="stylesheet" href="/css/modules/nav/nav__all.css" type="text/css"/>
<link rel="stylesheet" href="/css/modules/nav/nav__desktop.css" type="text/css"
      media="screen and (min-width: {{config.device.desktop.minWidth}}px)"/>
<link rel="stylesheet" href="/css/modules/nav/nav__tablet.css" type="text/css"
      media="screen and (min-width: {{config.device.tablet.minWidth}}px) and (max-width: {{config.device.tablet.maxWidth}}px), screen and (min-width: {{config.device.tablet.minWidth}}px) and (pointer: coarse)"/>
<link rel="stylesheet" href="/css/modules/nav/nav__mobile.css" type="text/css"
      media="screen and (max-width: {{config.device.phone.maxWidth}}px)"/>
