<p>
  {{link-to "Website list" "websites.index" }}
</p>

<h1>Website show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

