{{& code }}

var module = JSX.require("{{& mainFile }}");
if (!module) {
    throw new ReferenceError("entry point module not found");
}
if (!module._Main) {
    throw new ReferenceError("entry point _Main not found");
}
if (!module._Main.onmessage && !module._Main.onmessage$LMessageEvent$) {
    throw new ReferenceError("entry point _Main.onmessage(:Event):void not found");
}
addEventListener('message', function(e) {
    if (module._Main.onmessage) {
        module._Main.onmessage(e);
    } else {
        module._Main.onmessage$LMessageEvent$(e);
    }
}, false);
if (module._Main.main) {
    module._Main.main([]);
}
