//   ========================================================
// * @name       _button.scss
// * @desc       Button styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/ny/coreui
//   ========================================================


// * @section    Default button styles
// * --------------------------------------------------------
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    display: inline-block;
    line-height: $cui-line-height;
    @include button;
    padding: $cui-button-padding;

    &:hover {
        border-color: $cui-button-border-color;
        background-color: $cui-button-bg-color;
    }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include box-sizing;
}

[role="button"] {
    line-height: $cui-line-height; // Needed to be (almost) vertically aligned with adjacent `<button>`s, at least when using the `.icon-button` class
    align-items: flex-start; // Chrome does this by default for buttons but not `role=button`
    cursor: pointer;
    @include user-select;
}


// * @section   Specific button styles
// * @desc      Primary button
// * --------------------------------------------------------
.cui-button-primary {
    @include button-primary;
}
