//   ========================================================
// * @name       _message.scss
// * @desc       Messages styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/ny/coreui
//   ========================================================


// * @section    Messages for error, warning, success, etc.
// * --------------------------------------------------------

// List containing messages
.cui-messages {
    @include row($cui-grid-row-margin, 100%);
    margin: $cui-messages-margin;
    padding: 0.4em 0;
    line-height: normal;

    &,
    ul {
        list-style: none outside none;
    }

    .cui-error,
    .cui-warning,
    .cui-informational,
    .cui-success {
        position: relative;
        margin-bottom: 0.2em;

        &:before {
            content: "";
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            display: block;
            width: 24px;
            height: 24px;
            background: transparent url($cui-images-path + "messages-sprite.png") top left no-repeat;
        }

        p {
            padding: 0.4em 0;
            margin: 0 1em 0 2em;
            line-height: normal;
        }
    }

    // Error message item
    .cui-error {
        color: $cui-color-error-text;
        background-color: $cui-color-error-background;
        border: 1px solid $cui-color-error-border;
        border-radius: $cui-border-radius;

        &:before {
            background-position: 0 0;
        }
    }

    // Warning message item
    .cui-warning {
        color: $cui-color-warning-text;
        background-color: $cui-color-warning-background;
        border: 1px solid $cui-color-warning-border;
        border-radius: $cui-border-radius;

        &:before {
            background-position: -24px 0;
        }
    }

    // Success message item
    .cui-success {
        color: $cui-color-success-text;
        background-color: $cui-color-success-background;
        border: 1px solid $cui-color-success-border;
        border-radius: $cui-border-radius;

        &:before {
            background-position: -48px 0;
        }
    }

    // Informational message item
    .cui-informational {
        color: $cui-color-info-text;
        background-color: $cui-color-info-background;
        border: 1px solid $cui-color-info-border;
        border-radius: $cui-border-radius;

        &:before {
            background-position: -72px 0;
        }
    }
}
