//   ========================================================
// * @name       _misc.scss
// * @desc       Miscellaneous styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/ny/coreui
//   ========================================================


// * @section    General hide/show classes
// * --------------------------------------------------------
.cui-hidden {
    @include hide-forced;
}

.cui-hide-from-screen {
    @include hide;
}


// * @section    Small screen hide/show classes
// * --------------------------------------------------------
@media (max-width: $cui-bp-medium-minus) {
    .cui-hide-for-small {
        display: none !important;
    }
}


// * @section    Medium screen hide/show classes
// * --------------------------------------------------------
@media (min-width: $cui-bp-medium) and (max-width: $cui-bp-large-minus) {
    .cui-hide-for-medium {
        display: none !important;
    }
}


// * @section    Large screen hide/show classes
// * --------------------------------------------------------
@media (min-width: $cui-bp-large) {
    .cui-hide-for-large {
        display: none !important;
    }
}
