// Component variables (may be overwritten in _settings.scss)

$cui-modal-break-small: 480px !default;

$cui-modal-space-around: 10px !default; // Gap between the modal and the viewport

$cui-modal-width: 600px !default;
$cui-modal-height: 400px !default;

$cui-modal-background-color: #ffffff !default;