<div class="content" ng-controller="HubCtrl as hub">
    <div class="content__inner">
        <div class="row">
            <div class="col" style="margin: 30px 0px">
                <h2>Wikis, technical docs, confluence</h2>
                <div class="col border-top--drk border-btm--drk">
                    <div class="col col--span-xs-3 margin-top margin-btm" ng-repeat="doc in hub.documentation">
                        <a ng-href="{[{doc.url}]}" ng-bind="doc.name"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <br><br>

                <h2>Applications</h2>

                <div class="col"
                     ng-repeat="app in hub.applications"
                     ng-class="{ 'border-top--drk border-btm--lgt' : $first, 'border-btm--drk': $last, 'border-btm--lgt': $middle }">
                    <input type="checkbox" class="checkbox-accordion" mns-cache-checkbox="app.name">
                    <div class="checkbox-accordion__section">
                        <div class="checkbox-accordion__header">
                            <h3 class="checkbox-accordion__heading" ng-bind="app.name"></h3>
                        </div>
                        <div class="col col--span-xs-12 margin-btm" ng-repeat="link in app.links">
                            <a ng-href="{[{link.url}]}" ng-bind="link.name"></a>
                            <a ng-if="link.tsop" ng-href="{[{link.url}]}?channel=tsop">TSOP</a>
                            <a ng-if="link.buser" ng-href="{[{link.url}]}?channel=buser">Buser</a>
                            <a ng-if="link.cfto" ng-href="{[{link.url}]}?channel=cfto">CFTO</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
