<!doctype html>
<!--[if IE 9]>
<html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js"> <!--<![endif]--><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<title>Progressive Nav</title>
<link rel="stylesheet" href="/css/modules/nav/site.css" type="text/css"/>
<link rel="stylesheet" href="/css/modules/nav/nav__all.css" type="text/css"/>
<link rel="stylesheet" href="/css/modules/nav/nav__desktop.css" type="text/css"
      media="screen and (min-width: 1025px)"/>
<link rel="stylesheet" href="/css/modules/nav/nav__tablet.css" type="text/css"
      media="screen and (min-width: 901px) and (max-width: 1024px), screen and (min-width: 901px) and (pointer: coarse)"/>
<link rel="stylesheet" href="/css/modules/nav/nav__mobile.css" type="text/css"
      media="screen and (max-width: 900px)"/>
</head><body>
<!--When this radio is checked then the menu is hidden -->
<input type="radio" id="menu__mobile--hide" name="menu" aria-hidden="true" hidden checked/>
<header>
  <div class="example-header">
    <nav>
      <label class="menu__button--hide-menu menu__hamburger icon--menu" for="menu__mobile--hide"
             role="button"></label>
      <label class="menu__button--show-level1 menu__hamburger icon--menu" for="menu__mobile-level1--show"
             role="button"></label>
    </nav>
  </div>
</header>
<div class="nav__wrapper">
  <nav role="navigation">
    <!-- When this radio checked then the level 1 menu is shown -->
    <input type="radio" id="menu__mobile-level1--show" name="menu" aria-hidden="true" hidden/>
    <ul class="nav">
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__inspireme--show"
               aria-hidden="true" hidden/>
        <a href="/c/style-and-living"><h1>Inspire Me</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__inspireme--show" role="button"
               aria-hidden="true" hidden>Inspire
          Me</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My style content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__woman--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/women"><h1>Woman</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__woman--show" role="button"
               aria-hidden="true" hidden>Woman</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
<ul class="nav__content-items">
  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__10-beauty-box" hidden/>
    <h2><label for="menu__mobile-level3__10-beauty-box">£10 Beauty Box</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/s/beauty/beauty-box?intid=WW_GNAV_1_bb">£10 Beauty Box when you spend £40 - T&amp;Cs
          apply
        </a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__new-in" hidden/>
    <h2><label for="menu__mobile-level3__new-in">New In</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/all-new-in/clothing">New In Clothing</a>
      </li>
      <li>
        <a href="/l/women/all-new-in/shoes-and-boots">New In Shoes &amp; Sandals</a>
      </li>
      <li>
        <a href="/l/women/all-new-in/bags-and-accessories">New In Bags &amp; Accessories</a>
      </li>
      <li>
        <a href="/c/women/holiday-shop">Holiday Shop</a>
      </li>
      <li>
        <a href="/l/women/linen">Linen Shop</a>
      </li>
      <li>
        <a href="/l/women/off-the-shoulder">Off The Shoulder</a>
      </li>
      <li>
        <a href="/l/women/partywear">Party &amp; Occasionwear</a>
      </li>
      <li>
        <a href="/s/women/all-trends-lp">Summer Trends<u></u></a>
      </li>
      <li>
        <a href="/s/women/new-in/footwear-trend">Summer Footwear Edit<u></u></a>
      </li>
      <li>
        <a href="/s/women/wedding">Wedding Shop</a>
      </li>
      <li>
        <a href="/l/women/workwear">Workwear</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__fit" hidden/>
    <h2><label for="menu__mobile-level3__fit">Fit</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/kids/baby-up-to-2-yrs/maternity-and-nursing?intid=WW_TN_MATERNITY">Maternity</a>
      </li>
      <li>
        <a href="/l/women/petite">Petite</a>
      </li>
      <li>
        <a href="/l/women/plus-size-clothing">Plus</a>
      </li>
    </ul>
  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__clothing" hidden/>
    <h2><label for="menu__mobile-level3__clothing">Clothing</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/coats-and-jackets/blazers">Blazers</a>
      </li>
      <li>
        <a href="/l/women/cardigans">Cardigans</a>
      </li>
      <li>
        <a href="/l/women/cashmere">Cashmere</a>
      </li>
      <li>
        <a href="/l/women/coats-and-jackets">Coats &amp; Jackets</a>
      </li>
      <li>
        <a href="/l/women/dresses">Dresses</a>
      </li>
      <li>
        <a href="/l/women/jeans-and-jeggings">Jeans &amp; Jeggings</a>
      </li>
      <li>
        <a href="/l/women/jumpsuits-and-playsuits">Jumpsuits &amp; Playsuits</a>
      </li>
      <li>
        <a href="/l/women/jumpers">Jumpers</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear?intid=WW_TN_NIGHTWEAR_txt">Nightwear</a>
      </li>
      <li>
        <a href="/l/women/shirts-and-blouses">Shirts &amp; Blouses</a>
      </li>
      <li>
        <a href="/l/women/shorts">Shorts</a>
      </li>
      <li>
        <a href="/l/women/skirts">Skirts</a>
      </li>
      <li>
        <a href="/l/women/sportswear">Sportswear</a>
      </li>
      <li>
        <a href="/l/women/swimwear-and-beachwear">Swim &amp; Beachwear</a>
      </li>
      <li>
        <a href="/l/women/tops-and-tshirts">Tops &amp; T-shirts</a>
      </li>
      <li>
        <a href="/l/women/trousers-and-leggings">Trousers &amp; Leggings</a>
      </li>
      <li>
        <a href="/l/women/tunics">Tunics</a>
      </li>
    </ul>
  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__footware" hidden/>
    <h2><label for="menu__mobile-level3__footware">Footware</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/shoes-and-boots">All Shoes &amp; Sandals</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/all-boots">Boots</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/all-shoes">Shoes</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/sandals">Sandals</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/slippers">Slippers</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/footglove">Footglove™</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__bags-and-accessories" hidden/>
    <h2><label for="menu__mobile-level3__bags-and-accessories">Bags &amp; Accessories</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/accessories">All Accessories</a>
      </li>
      <li>
        <a href="/l/women/handbags">Handbags &amp; Purses</a>
      </li>
      <li>
        <a href="/l/women/jewellery">Jewellery</a>
      </li>
      <li>
        <a href="/l/women/accessories/occasion-hats-and-fascinators">Occasion Hats</a>
      </li>
      <li>
        <a href="/l/women/accessories/scarves">Scarves</a>
      </li>
      <li>
        <a href="/l/lingerie/socks?intid=WW_TN_SOCKS_txt">Socks</a>
      </li>
      <li>
        <a href="/l/lingerie/tights?intid=WW_TN_TIGHTS_txt">Tights</a>
      </li>
      <li>
        <a href="/l/women/jewellery/watches">Watches</a>
      </li>
      <li>
        <a href="/l/women/accessories/capes-and-wraps">Wraps &amp; Capes</a>
      </li>
    </ul>
  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__offers" hidden/>
    <h2><label for="menu__mobile-level3__offers">Offers</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/offers/buy-1-get-1-half-price-on-selected-tshirts">T-Shirt Offer - Buy 1 get 1 Half
          Price
        </a>
      </li>
      <li>
        <a href="/l/offers/fathers-day-offer">Father’s Day Offer</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__brands" hidden/>
    <h2><label for="menu__mobile-level3__brands">Brands</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/alexa-chung/alexa-chung-collection">Alexa Chung</a>
      </li>
      <li>
        <a href="/l/women/autograph">Autograph</a>
      </li>
      <li>
        <a href="/l/women/best-of-british">Best of British</a>
      </li>
      <li>
        <a href="/l/women/classic">Classic</a>
      </li>
      <li>
        <a href="/l/women/indigo-collection">Indigo Collection</a>
      </li>
      <li>
        <a href="/l/women/limited-edition">Limited Edition</a>
      </li>
      <li>
        <a href="/l/women/mands-collection">M&amp;S Collection</a>
      </li>
      <li>
        <a href="/l/women/twiggy">Twiggy</a>
      </li>
      <li>
        <a href="/l/women/indigo-collection">Indigo Collection</a>
      </li>
      <li>
        <a href="/l/women/limited-edition">Limited Edition</a>
      </li>
      <li>
        <a href="/l/women/mands-collection">M&amp;S Collection</a>
      </li>
      <li>
        <a href="/l/women/twiggy">Twiggy</a>
      </li>
      <li>
        <a href="/l/women/per-una">Per Una</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__outfit-ideas" hidden/>
    <h2><label for="menu__mobile-level3__outfit-ideas">Outfit Ideas</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/beachwear-outfits">Beachwear</a>
      </li>
      <li>
        <a href="/l/women/holiday-shop/holiday-outfit-inspiration">Summer</a>
      </li>
      <li>
        <a href="/l/women/wedding/Wedding-Outfit-Inspiration">Wedding</a>
      </li>
    </ul>

  </li>

</ul>          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__lingerie--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/lingerie"><h1>Lingerie</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__lingerie--show" role="button"
               aria-hidden="true" hidden>Lingerie</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
<ul class="nav__content-items">
  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__lingerie__new-in" hidden/>
    <h2><label for="menu__mobile-level3__lingerie__new-in">New In</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/new-in/new-in-lingerie-and-nightwear">All New In</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__lingerie__offers" hidden/>
    <h2><label for="menu__mobile-level3__lingerie__offers">Offers</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/offers/3-for-2-mix-and-match-knickers?intid=LG_TN_OFFER_3f2_KNICK_txt">3 for 2 Knickers</a>
      </li>
      <li>
        <a href="/l/offers/3-for-2-socks?intid=LG_TN_OFFER_3f2_SOCKS_txt">3 for 2 Socks</a>
      </li>
      <li>
        <a href="/l/offers/buy-1-get-1-half-price-on-vests?intid=LG_TN_OFFER_BOGOHP_VEST_txt">Buy 1 get 1 Half Price
          Vests
        </a>
      </li>
      <li>
        <a href="/l/lingerie/angel-first-bras?intid=LG_TN_OFFER_Angel_bra_txt">Angel Bra Free Gift</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__bra-fitting" hidden/>
    <h2><label for="menu__mobile-level3__bra-fitting">Bra Fitting</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/s/lingerie/be-inspired/bra-fitting-tool?intid=LG_topnav_brasizecalc_txt">Bra Size Calculator</a>
      </li>
      <li>
        <a href="/s/lingerie/be-inspired/bra-fit-appointment-booking-tool">Bra Fit Appointment Booking Tool</a>
      </li>
    </ul>
  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__bras" hidden/>
    <h2><label for="menu__mobile-level3__bras">Bras</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/bras">All Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/bralet-n-1z13qfq">Bralets</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/dd-bras">DD+ Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/angel-first-bras">First Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/maternity-and-nursing-bras">Maternity Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/minimiser-bras-2056502">Minimiser Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/post-surgery-bras">Post Surgery Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/sports-bras">Sports Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/strapless-and-multiway-bras">Strapless &amp; Multiway Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/tshirt-bras">T-Shirt Bras</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__knickers" hidden/>
    <h2><label for="menu__mobile-level3__knickers">Knickers</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/knickers">All Knickers</a>
      </li>
      <li>
        <a href="/l/lingerie/knickers/multipack-knickers">Multipack Knickers</a>
      </li>
      <li>
        <a href="/l/lingerie/knickers/no-vpl-knickers">No VPL Knickers</a>
      </li>
    </ul>

  </li>
  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__nightwear" hidden/>
    <h2><label for="menu__mobile-level3__nightwear">Nightwear</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/all-nightwear">All Nightwear</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear/dressing-gowns">Dressing Gowns</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear/nightdresses">Nightdresses</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear/pyjama-sets">Pyjama Sets</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/slippers">Slippers</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__shapewear-hosiery" hidden/>
    <h2><label for="menu__mobile-level3__shapewear-hosiery">Shapewear &amp; Hosiery</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/shapewear">All Shapewear</a>
      </li>
      <li>
        <a href="/s/lingerie/be-inspired/your-shapewear-finder">Find Your Perfect Shapewear</a>
      </li>
      <li>
        <a href="/l/lingerie/bodies">Bodies</a>
      </li>
      <li>
        <a href="/l/lingerie/slips">Slips</a>
      </li>
      <li>
        <a href="/l/lingerie/socks">Socks</a>
      </li>
      <li>
        <a href="/l/lingerie/tights">Tights</a>
      </li>
    </ul>

  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__vests-thermals" hidden/>
    <h2><label for="menu__mobile-level3__vests-thermals">Vests &amp; Thermals</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/vests-and-camisoles">Vests &amp; Camisoles</a>
      </li>
      <li>
        <a href="/l/lingerie/thermals">Thermals</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__brands" hidden/>
    <h2><label for="menu__mobile-level3__brands">Brands</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/adored-lingerie-collection">Adored</a>
      </li>
      <li>
        <a href="/l/lingerie/angel-first-bras">Angel First Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/autograph-lingerie">Autograph</a>
      </li>
      <li>
        <a href="/l/lingerie/limited-collection-lingerie">Limited Collection</a>
      </li>
      <li>
        <a href="/l/lingerie/rosie-for-autograph-lingerie">Rosie for Autograph</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__lingerie-collections" hidden/>
    <h2><label for="menu__mobile-level3__lingerie-collections">Lingerie Collections</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/wedding/bridal-lingerie">Bridal Lingerie</a>
      </li>
      <li>
        <a href="/l/lingerie/lingerie-sets">Lingerie Sets</a>
      </li>
      <li>
        <a href="/l/lingerie/sexy-lingerie">Sexy Lingerie</a>
      </li>
    </ul>

  </li>

</ul>


<!--

<h2>Featured</h2>


<div>


<div>


  <a href="/l/lingerie/bras/t-shirt-bras-n-byrh1?intid=LG_topnav__DLP_contentslot_1_img"
  >
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="Model in colourful bra set" alt="Model in colourful bra set">

  </a>
  <div>
    <h3>SUMMER BRAS</h3>
    <p>Make sure your underwear is ready for summer with our smooth-line T-shirt bras and supportive strapless
      bras</p>
    <p style="margin-top: 1em;">
      <a title="Shop T-shirt bras"
         href="/l/lingerie/bras/t-shirt-bras-n-byrh1?intid=LG_topnav__DLP_contentslot_1_txt_1">
        <span>Shop T-shirt bras</span>
      </a>
    </p>
    <p style="margin-top: 1em;">
      <a title="Shop strapless bras"
         href="/l/lingerie/bras/strapless-and-multiway-bras-n-byrgz?intid=LG_topnav__DLP_contentslot_1_txt_2">
        <span>Shop strapless bras</span></a>
    </p>
  </div>

</div>

</div>

<div>


<div>


  <a href="/l/lingerie/autograph-lingerie?intid=LG_topnav__DLP_contentslot_2_img">
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="Model in white lace lingerie" alt="Model in white lace lingerie">

  </a>
  <div>
    <h3>AUTOGRAPH LINGERIE</h3>
    <p>Spoil yourself with some luxury lingerie. Dress up in pretty lace or be sultry in satin</p>
    <p style="margin-top: 1em;">
      <a href="/l/lingerie/autograph-lingerie?intid=LG_topnav__DLP_contentslot_2_txt"
         title="Shop Autograph lingerie"><span>Shop Autograph lingerie</span></a>
    </p>
  </div>

</div>

</div>

-->
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__beauty--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/beauty"><h1>Beauty</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__beauty--show" role="button"
               aria-hidden="true" hidden>Beauty</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My Beauty content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__men--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/men"><h1>Men</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__men--show" role="button" aria-hidden="true"
               hidden>Men</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My Men content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__boys--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/kids/boys"><h1>Boys</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__boys--show" role="button"
               aria-hidden="true" hidden>Boys</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My boys content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__girls--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/kids/girls"><h1>Girls</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__girls--show" role="button"
               aria-hidden="true" hidden>Girls</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My girls content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__home-and-furniture--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/home-and-furniture"><h1>Home & Furniture</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__home-and-furniture--show" role="button"
               aria-hidden="true" hidden>Home &
          Furniture</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My home and furniture content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__food-and-wine--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/food-and-wine"><h1>Food & Wine</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__food-and-wine--show" role="button"
               aria-hidden="true" hidden>Food
          & Wine</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My food and wine content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__flowers-and-gifts--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/flowers-and-gifts"><h1>Flowers & Gifts</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__flowers-and-gifts--show" role="button"
               aria-hidden="true" hidden>Flowers & Gifts</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My flowers and gifts content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
      <li>
        <input class="menu__mobile-level2--show" type="radio" name="menu"
               id="menu__mobile-level2__offers--show"
               aria-hidden="true"
               hidden/>
        <a href="/c/offers"><h1>Offers</h1></a>
        <label class="menu__mobile-level2__label" for="menu__mobile-level2__offers--show" role="button"
               aria-hidden="true" hidden>Offers</label>
        <ul class="nav__content">
          <li class="menu__mobile-level2--back" aria-hidden="true" hidden>
            <label for="menu__mobile-level1--show" role="button"><span>Back</span></label>
          </li>
          <li>
            My offers content
          </li>
        </ul>
        <label class="menu__mobile-level2__overlay" for="menu__mobile-level1--show"></label>
      </li>
    </ul>
  </nav>
</div>
<div data-js-location="&#x2F;" id="script-location"></div>

<script>var mnsScriptLocation = document.getElementById('script-location').getAttribute('data-js-location');</script>

<script src="&#x2F;node_modules/systemjs/dist/system.js"></script>

<script>window.define = function () {};</script>

<script src="&#x2F;common/scripts/system.conf.js"></script>
<script>

  window.addEventListener('resize', loadMobileJS);

  function loadMobileJS() {
    if (window.innerWidth < 900) {
      System.import('/modules/nav/nav.js');
    }
  }

  loadMobileJS();
</script>

</body>
</html>



