{
  "extends": "fear-core/ecma-config",
  "env": {
    "amd": true
  },
  "globals": {
    "window": false,
    "document": false,
    "describe": false,
    "it": false,
    "expect": false,
    "before": false,
    "after": false,
    "sinon": false
  }
}