.l-main__layout {
  display: flex;
  align-items: stretch;

  @include ie-only(9) {
    display: table;
  }

  > nav {
    margin-right: $spacing-medium;
    min-width: 240px;
    border-right: 1px solid $color__brand--dark-grey;

    @include ie-only(9) {
      display: table-cell;
      vertical-align: top;
    }
  }

  > section {
    display: flex;
    overflow-y: auto;
    flex-grow: 1;
    justify-content: center;

    @include ie-only(9) {
      display: table-cell;
      padding-left: $spacing-medium;
      width: 100%;
      text-align: center;

      > * {
        text-align: left;
      }
    }
  }
}

.l-main__nav {
  position: fixed;
  margin: #{$spacing-medium * 2} $spacing-medium 0 0;
  padding: 0;

  > li {
    list-style: none;
    line-height: 3rem;
  }
}

.l-main__content {

  @include ie-only(9) {
    display: inline-block;
  }
}
