@import 'app-core/base';
@import 'app-core/once';

$font__code: 100% courier, monospace;
$color__code--background: #fff7f0;

body {
  padding: $spacing-default;
}

pre {
  font: $font__code;
  border: 1px solid $color__brand--light-grey;
  overflow-x: scroll;
  width: 90%;
  padding: 2rem 0 1rem 0;
  margin: 1rem auto 2rem auto;
  background: $color__code--background;
  color: $color__brand--black;
}

hr {
  margin: $spacing-default-med 0;
  border: 1px solid $color__brand--light-grey;
}
