<div
>


  <p>
    <a>Close</a>
  </p>


  <div>


    <p>
      <a href="/c/style-and-living"><span
      >Style &amp; Living</span></a>
    </p>
    <div>
      <p>Discover Style &amp; Living, your destination for ideas, inspiration and advice for you, your family and your
        home.</p>
      <p>
        <a href="/c/style-and-living">Read all features</a>
      </p>
    </div>

  </div>

  <div>


    <h2>EDITOR'S PICK</h2>


    <div
    ]'
   }'>


    <a href="/c/style-and-living/ivory-off-shoulder-peasant-blouse?intid=SL_HUB_gnav_ep_img"
      >
      <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
           data-mns-lazyload

           title="Show a little shoulder" alt="Show a little shoulder">

    </a>
    <div>
      <h3>SHOW A LITTLE<br>
        SHOULDER</h3>
      <p>The off-shoulder blouse that goes with everything</p>
      <p>
        <a href="/c/style-and-living/ivory-off-shoulder-peasant-blouse?intid=SL_HUB_gnav_ep_txt">
          <span>READ &amp; SHOP</span></a>
      </p>
    </div>

  </div>

</div>

<div>


  <h2>TREND SPOTLIGHT</h2>


  <div
  ]'
 }'>


  <a href="/c/style-and-living/family-holiday-fashion-swimwear?intid=SL_HUB_gnav_ep_img"
    >
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="The holiday" alt="The holiday">

  </a>
  <div>
    <h3>THE<br>
      HOLIDAY</h3>
    <p>Essential packing for the whole family this summer</p>
    <p>
      <a href="/c/style-and-living/family-holiday-fashion-swimwear?intid=SL_HUB_gnav_ep_txt">
        <span>READ &amp; SHOP</span></a>
    </p>
  </div>

</div>

</div>

<div>


  <h2>GET THE LOOK</h2>


  <div
  ]'
 }'>


  <a href="/c/style-and-living/melt-proof-make-up?intid=SL_HUB_gnav_ts_img">
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="Melt-proof your make-up" alt="Melt-proof your make-up">

  </a>
  <div>
    <h3>MELT-PROOF YOUR<br>
      MAKE-UP</h3>
    <p>Save face with beat-the-heat beauty advice</p>
    <p>
      <a href="/c/style-and-living/melt-proof-make-up?intid=SL_HUB_gnav_ts_txt"><span>READ &amp; SHOP</span></a>
    </p>
  </div>

</div>

</div>

<div>


  <h2>KITCHEN NOTES</h2>


  <div
  ]'
 }'>


  <a href="/c/style-and-living/ben-tish-easy-bbq-recipes?intid=SL_HUB_gnav_itm_txt">
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="Be a BBQ master" alt="Be a BBQ master">

  </a>
  <div>
    <h3>BE A BBQ<br>
      MASTER</h3>
    <p>Deliciously easy recipes from king of the grill Ben Tish</p>
    <p>
      <a href="/c/style-and-living/ben-tish-easy-bbq-recipes?intid=SL_HUB_gnav_itm_txt"><span>READ &amp; SHOP</span>
      </a>
    </p>
  </div>

</div>

</div>

</div>