<div
    >


  <div>


    <div>


      <h2>Baby Girls
        (0-2yrs)</h2>
      <ul>
        <li>
          <a href="/c/kids/baby-up-to-2-yrs"></a>
          <a
            href="/l/kids/new-in-kids-clothing/new-in-baby/?facetOpen=true&amp;cachedFilters=FID_4294908004+96+0+35+0+35&amp;priceMin=0&amp;priceMax=35&amp;currentPriceMin=0&amp;currentPriceMax=35&amp;lastSelectedSize=&amp;resultsPerPage=96&amp;display=model&amp;sortBy=product_is_new%7C1&amp;pageChoice=1&amp;selectedAccordions=checkbox-451%7Ccheckbox-12%7Ccheckbox-10%7Ccheckbox-5%7Ccheckbox-42"></a>
          <a href="/l/kids/baby-up-to-2-yrs/all-baby-girls">All Baby Girls Clothes</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/all-baby-girls/baby-grows-and-bodysuits">Baby Grows</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/all-baby-girls/sets-and-outfits">Sets &amp; Outfits</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-sleep">Baby Sleepwear</a>
        </li>
        <li>
          <a href="/l/kids/collections-and-trends/autograph/baby-autograph">Baby Autograph</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/newborn-and-unisex">Newborn &amp; Unisex</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-soft-toys-and-games">Baby Toys</a>
        </li>
        <li>
          <a href="/s/home-and-furniture/childrens-bedroom-and-nursery">Nursery Furniture</a>
        </li>
        <li>
          <a href="/c/kids/baby-up-to-2-yrs">The Baby Shop</a>
        </li>
      </ul>
      <h2>Baby
        Brands</h2>
      <ul>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/avent">Avent</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/cheeky-chompers">Cheeky Chompers</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/dr-browns">Dr Browns</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/east-coast">East Coast</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/gro">Gro</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/oxo">Oxo</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands/skip-hop">Skip Hop</a>
        </li>
        <li>
          <a href="/l/kids/baby-up-to-2-yrs/baby-brands">Shop All Brands</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Girls
        Clothing (1-16yrs)</h2>
      <ul>
        <li>
          <a href="/l/kids/new-in-kids-clothing/girls"></a>
          <a href="/l/kids/all-girls">All Girls Clothing</a>
        </li>
        <li>
          <a href="/l/kids/new-in-kids-clothing/girls">New in Girls</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/accessories">Accessories</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/coats-and-jackets">Coats &amp; Jackets</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/dresses">Dresses</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/dresses/playsuits">Jumpsuits &amp; Playsuits</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/jumpers-and-cardigans">Jumpers &amp; Cardigans</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/pyjamas-and-dressing-gowns">Pyjamas &amp; Dressing Gowns</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/sets-and-outfits">Sets &amp; Outfits</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/shoes-boots-and-slippers">Shoes &amp; Sandals</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/trousers/shorts">Shorts</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/skirts">Skirts</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/socks-and-tights">Socks &amp; Tights</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/sweatshirts-and-hoodies">Sweatshirts &amp; Hoodies</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/swimwear">Swimwear</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/tops-and-tshirts">Tops &amp; T-Shirts</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/trousers">Trousers, Jeans &amp; Leggings</a>
        </li>
        <li>
          <a href="/l/kids/all-girls/underwear">Underwear</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>20%
        off School Uniform</h2>
      <ul>
        <li>
          <a href="/l/kids/school-uniform/girls">All School Uniform</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/blazers">Blazers</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/blouses-and-polo-shirts">Blouses &amp; Polo Shirts</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/dresses-and-pinafores">Dresses &amp; Pinafores</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/jumpers-and-cardigans">Jumpers &amp; Cardigans</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/school-skirts">School Skirts</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/sportswear">Sportswear</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/summer-school-uniform/girls-summer-gingham-dresses">Summer School Uniform</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/secondary-school-uniforms/girls-uniform-teen-girls">Secondary School Uniform
          </a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/school-uniform-shop-by-fit/girls-uniform-shop-by-fit">Shop by Fit</a>
        </li>
      </ul>
      <h2>
        School Uniform Extra's</h2>
      <ul>
        <li>
          <a href="/l/kids/school-uniform/girls/school-shoes-and-trainers"></a>
          <a href="/s/kids/school-uniform">The School Uniform Shop</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/school-shoes-and-trainers">School Shoes</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/girls/socks-tights-and-underwear">Socks, Tights &amp; Underwear</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/essentials/school-bags-and-accessories">Bags &amp; Accessories</a>
        </li>
        <li>
          <a href="/l/kids/toys-and-books/books/educational-books">Educational Books</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>
        Brands &amp; Occasions</h2>
      <ul>
        <li>
          <a href="/l/kids/collections-and-trends/autograph/girls-autograph">Autograph</a>
        </li>
        <li>
          <a href="/l/kids/collections-and-trends/christening-and-communion">Christening &amp; Communion</a>
        </li>
        <li>
          <a href="/l/kids/collections-and-trends/kids-denim/girls-denim">Denim Shop</a>
        </li>
        <li>
          <a href="/l/kids/collections-and-trends/holiday/holiday-clothing/girls-holiday">Holiday Shop</a>
        </li>
        <li>
          <a href="/s/kids/collections-and-trends/kids-wedding-shop">Wedding Shop</a>
        </li>
        <li>
          <a href="/l/kids/lil-londunn-by-jourdan-dunn/lil-londunn-collection">Lil’ LonDunn Collection</a>
        </li>
      </ul>
      <h2>Popular
        Searches</h2>
      <ul>
        <li>
          <a
            href="/l/kids/collections-and-trends/rainy-days/?facetOpen=true&amp;cachedFilters=FID_4294961753+24+0+35+0+35&amp;priceMin=0&amp;priceMax=35&amp;currentPriceMin=0&amp;currentPriceMax=35&amp;lastSelectedSize=&amp;resultsPerPage=24&amp;display=model&amp;sortBy=product_is_new%7C1&amp;pageChoice=1&amp;selectedAccordions=checkbox-451%7Ccheckbox-12%7Ccheckbox-10%7Ccheckbox-5">
            Rainy Days
          </a>
        </li>
        <li>
          <a href="/l/kids/collections-and-trends/kids-partywear/girls-partywear">Partywear</a>
        </li>
        <li>
          <a href="/l/kids/specialist-bodysuits-and-sleepwear">Specialist Bodysuits</a>
        </li>
        <li>
          <a href="/s/kids/character">Characters</a>
        </li>
      </ul>
      <h2>Toys &amp;
        Books</h2>
      <ul>
        <li>
          <a href="/l/kids/toys-and-books/books">All Books</a>
        </li>
        <li>
          <a href="/l/kids/toys-and-books/books/activity-books">Activity Books</a>
        </li>
        <li>
          <a href="/l/kids/toys-and-books/toys">All Toys</a>
        </li>
        <li>
          <a href="/l/kids/toys-and-books/toys/fancy-dress">Fancy Dress</a>
        </li>
        <li>
          <a href="/l/kids/toys-and-books/toys/outdoor-toys">Outdoor Toys</a>
        </li>
      </ul>

    </div>

  </div>
  <div>


    <h2>Featured</h2>


    <div>


      <div]'
          }'>


        <a href="/l/kids/collections-and-trends/kids-partywear/girls-partywear?intid=KW_Girls_TN_1_img" target="_self"
          >
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="Flower girl in white lace dress" alt="Flower girl in white lace dress">

        </a>
        <div>
          <h3>PARTYWEAR</h3>
          <p>Make sure she looks the part in our range of pretty dresses, footwear and accessories</p>
          <p style="margin-top: 1em;"><span><a title="Shop partywear"
                                               href="/l/kids/collections-and-trends/kids-partywear/girls-partywear?intid=KW_Girls_TN_1_txt">Shop partywear</a></span>
          </p>
        </div>

      </div>

    </div>

    <div>


      <div]'
          }'>


        <a href="/l/kids/school-uniform/girls?intid=KW_Girls_TN_2_img" target="_self">
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="20% off girls' school uniform" alt="20% off girls' school uniform">

        </a>
        <div>
          <h3>20% OFF GIRLS' SCHOOL UNIFORM</h3>
          <p>Get set for the new term with 20% off our great value, easy to care for &amp; comfortable school
            uniform</p>
          <p style="margin-top: 1em;">
            <a href="/l/kids/school-uniform/girls?intid=KW_Girls_TN_2_txt"><span>Shop girls' school uniform</span></a>
          </p>
          <p style="margin-top: 1em;">
            <a href="/s/kids/school-uniform?intid=KW_Girls_TN_2_txt"><span>The School Uniform Shop</span></a>
          </p>
        </div>

      </div>

    </div>

  </div>


</div>