<ul class="nav__content-items">
  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__lingerie__new-in" hidden/>
    <h2><label for="menu__mobile-level3__lingerie__new-in">New In</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/new-in/new-in-lingerie-and-nightwear">All New In</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__lingerie__offers" hidden/>
    <h2><label for="menu__mobile-level3__lingerie__offers">Offers</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/offers/3-for-2-mix-and-match-knickers?intid=LG_TN_OFFER_3f2_KNICK_txt">3 for 2 Knickers</a>
      </li>
      <li>
        <a href="/l/offers/3-for-2-socks?intid=LG_TN_OFFER_3f2_SOCKS_txt">3 for 2 Socks</a>
      </li>
      <li>
        <a href="/l/offers/buy-1-get-1-half-price-on-vests?intid=LG_TN_OFFER_BOGOHP_VEST_txt">Buy 1 get 1 Half Price
          Vests
        </a>
      </li>
      <li>
        <a href="/l/lingerie/angel-first-bras?intid=LG_TN_OFFER_Angel_bra_txt">Angel Bra Free Gift</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__bra-fitting" hidden/>
    <h2><label for="menu__mobile-level3__bra-fitting">Bra Fitting</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/s/lingerie/be-inspired/bra-fitting-tool?intid=LG_topnav_brasizecalc_txt">Bra Size Calculator</a>
      </li>
      <li>
        <a href="/s/lingerie/be-inspired/bra-fit-appointment-booking-tool">Bra Fit Appointment Booking Tool</a>
      </li>
    </ul>
  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__bras" hidden/>
    <h2><label for="menu__mobile-level3__bras">Bras</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/bras">All Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/bralet-n-1z13qfq">Bralets</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/dd-bras">DD+ Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/angel-first-bras">First Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/maternity-and-nursing-bras">Maternity Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/minimiser-bras-2056502">Minimiser Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/post-surgery-bras">Post Surgery Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/sports-bras">Sports Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/strapless-and-multiway-bras">Strapless &amp; Multiway Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/bras/tshirt-bras">T-Shirt Bras</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__knickers" hidden/>
    <h2><label for="menu__mobile-level3__knickers">Knickers</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/knickers">All Knickers</a>
      </li>
      <li>
        <a href="/l/lingerie/knickers/multipack-knickers">Multipack Knickers</a>
      </li>
      <li>
        <a href="/l/lingerie/knickers/no-vpl-knickers">No VPL Knickers</a>
      </li>
    </ul>

  </li>
  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__nightwear" hidden/>
    <h2><label for="menu__mobile-level3__nightwear">Nightwear</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/all-nightwear">All Nightwear</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear/dressing-gowns">Dressing Gowns</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear/nightdresses">Nightdresses</a>
      </li>
      <li>
        <a href="/l/lingerie/all-nightwear/pyjama-sets">Pyjama Sets</a>
      </li>
      <li>
        <a href="/l/women/shoes-and-boots/slippers">Slippers</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__shapewear-hosiery" hidden/>
    <h2><label for="menu__mobile-level3__shapewear-hosiery">Shapewear &amp; Hosiery</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/shapewear">All Shapewear</a>
      </li>
      <li>
        <a href="/s/lingerie/be-inspired/your-shapewear-finder">Find Your Perfect Shapewear</a>
      </li>
      <li>
        <a href="/l/lingerie/bodies">Bodies</a>
      </li>
      <li>
        <a href="/l/lingerie/slips">Slips</a>
      </li>
      <li>
        <a href="/l/lingerie/socks">Socks</a>
      </li>
      <li>
        <a href="/l/lingerie/tights">Tights</a>
      </li>
    </ul>

  </li>

  <li>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__vests-thermals" hidden/>
    <h2><label for="menu__mobile-level3__vests-thermals">Vests &amp; Thermals</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/vests-and-camisoles">Vests &amp; Camisoles</a>
      </li>
      <li>
        <a href="/l/lingerie/thermals">Thermals</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__brands" hidden/>
    <h2><label for="menu__mobile-level3__brands">Brands</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/lingerie/adored-lingerie-collection">Adored</a>
      </li>
      <li>
        <a href="/l/lingerie/angel-first-bras">Angel First Bras</a>
      </li>
      <li>
        <a href="/l/lingerie/autograph-lingerie">Autograph</a>
      </li>
      <li>
        <a href="/l/lingerie/limited-collection-lingerie">Limited Collection</a>
      </li>
      <li>
        <a href="/l/lingerie/rosie-for-autograph-lingerie">Rosie for Autograph</a>
      </li>
    </ul>
    <input class="menu__mobile-level3" type="checkbox" id="menu__mobile-level3__lingerie-collections" hidden/>
    <h2><label for="menu__mobile-level3__lingerie-collections">Lingerie Collections</label></h2>
    <ul class="nav__content-group">
      <li>
        <a href="/l/women/wedding/bridal-lingerie">Bridal Lingerie</a>
      </li>
      <li>
        <a href="/l/lingerie/lingerie-sets">Lingerie Sets</a>
      </li>
      <li>
        <a href="/l/lingerie/sexy-lingerie">Sexy Lingerie</a>
      </li>
    </ul>

  </li>

</ul>


<!--

<h2>Featured</h2>


<div>


<div>


  <a href="/l/lingerie/bras/t-shirt-bras-n-byrh1?intid=LG_topnav__DLP_contentslot_1_img"
  >
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="Model in colourful bra set" alt="Model in colourful bra set">

  </a>
  <div>
    <h3>SUMMER BRAS</h3>
    <p>Make sure your underwear is ready for summer with our smooth-line T-shirt bras and supportive strapless
      bras</p>
    <p style="margin-top: 1em;">
      <a title="Shop T-shirt bras"
         href="/l/lingerie/bras/t-shirt-bras-n-byrh1?intid=LG_topnav__DLP_contentslot_1_txt_1">
        <span>Shop T-shirt bras</span>
      </a>
    </p>
    <p style="margin-top: 1em;">
      <a title="Shop strapless bras"
         href="/l/lingerie/bras/strapless-and-multiway-bras-n-byrgz?intid=LG_topnav__DLP_contentslot_1_txt_2">
        <span>Shop strapless bras</span></a>
    </p>
  </div>

</div>

</div>

<div>


<div>


  <a href="/l/lingerie/autograph-lingerie?intid=LG_topnav__DLP_contentslot_2_img">
    <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
         data-mns-lazyload

         title="Model in white lace lingerie" alt="Model in white lace lingerie">

  </a>
  <div>
    <h3>AUTOGRAPH LINGERIE</h3>
    <p>Spoil yourself with some luxury lingerie. Dress up in pretty lace or be sultry in satin</p>
    <p style="margin-top: 1em;">
      <a href="/l/lingerie/autograph-lingerie?intid=LG_topnav__DLP_contentslot_2_txt"
         title="Shop Autograph lingerie"><span>Shop Autograph lingerie</span></a>
    </p>
  </div>

</div>

</div>

-->
