<p>
  {{link-to "Space-app list" "space-apps.index" }}
</p>

<h1>Space-app show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

