
<div class="layout-row layout-align-center-center">
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}noteblox{{/text.headline}}
      {{#text.subhead}}Account Access{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content class="layout-row layout-align-space-between"}}
    {{#paper-form onSubmit=(action "continue") as |form|}}
     Forgot your password?
      <div class="layout-column">
         {{form.input id="email" placeholder="Email" value=email type="email" onChange=(action (mut email)) required=true}}

      </div>

      <div class="layout-row">

       {{#form.submit-button type="submit" raised=true id='continue-btn' primary=true}}Send Password Reset{{/form.submit-button}}
      </div>

    {{/paper-form}}
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action (transition-to "auth.login")) }}
      Account Login
    {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
</div>