

<div class="layout-fill layout-row layout-align-center-center flex">
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}noteblox{{/text.headline}}
      {{#text.subhead}}Enter your credential bellow to login{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}



  {{#card.content class="layout-row layout-align-space-between"}}
    {{#paper-form onSubmit=(action "authenticate") as |form|}}

      <div class="layout-column">
        {{#if errorMessage}}
        <p>
            <strong>Login failed:</strong>
          <code>{{errorMessage}}</code>
        </p>
        {{/if}}
      </div>
      <div class="layout-column">
        {{form.input id="identification" label="Username" type="text" value=identification onChange=(action (mut identification)) required=true}}
        {{form.input id="password" label="Password"  type='password' value=password onChange=(action (mut password)) required=true}}
      </div>

      <div class="layout-row">

        {{#form.submit-button raised=true id='login-btn'  primary=true disabled=form.isInvalid}}Login{{/form.submit-button}}
      </div>

    {{/paper-form}}
  {{/card.content}}
  <#md-card-footer>

  {{#card.actions}}
    {{#paper-button onClick=(action (transition-to "auth.forgot-password")) }}
      Forgot password
    {{/paper-button}}
    {{#paper-button  onClick=(action (transition-to "auth.register")) }}
      Quick signup
    {{/paper-button}}
  {{/card.actions}}
  </md-card-footer>
{{/paper-card}}
</div>