$channel: channel-default;

$fear-core-ui-font-dir: '/lib/assets/fonts';
$fear-core-ui-images-dir: '/lib/assets/images/sprites';

@import 'fear-core-ui/normalize';

@import 'fear-core-ui/base';
@import 'fear-core-ui/extends';
@import 'fear-core-ui/typography';
@import 'fear-core-ui/layout/grid';
@import 'fear-core-ui/layout/positioning';
@import 'fear-core-ui/sprites'; //dup

@import 'fear-core-ui/utilities/accessability';

//needs to use pattern library
@import 'fear-core-ui/templates/header';

@import 'fear-core-ui/layout/content';
@import 'fear-core-ui/components/logo';
