// Component variables (may be overwritten in _settings.scss)

$cui-uiBox-break-small: 480px !default;

$cui-uiBox-space-around: 10px !default; // Gap between the uiBox and the viewport

$cui-uiBox-width: 600px !default;
$cui-uiBox-height: 400px !default;

$cui-uiBox-background-color: #ffffff !default;