@import "variables";

@font-face {
    font-family: 'mns-digital-experimental';
    src:
        url('#{$icomoon-font-path}/mns-digital-experimental.ttf?g30cer') format('truetype'),
        url('#{$icomoon-font-path}/mns-digital-experimental.woff?g30cer') format('woff'),
        url('#{$icomoon-font-path}/mns-digital-experimental.svg?g30cer#mns-digital-experimental') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mns-d-ex-icon-"], [class*=" mns-d-ex-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mns-digital-experimental' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mns-d-ex-icon-desktop {
    &:before {
        content: $mns-d-ex-icon-desktop;
    }
}
.mns-d-ex-icon-phone {
    &:before {
        content: $mns-d-ex-icon-phone;
    }
}
.mns-d-ex-icon-tablet {
    &:before {
        content: $mns-d-ex-icon-tablet;
    }
}

