$icomoon-font-path: '/core/assets/fonts/mns-digital-experimental/fonts';
$fear-core-ui-font-dir: '/assets/fonts';

$spacing-default: 20px;
$spacing-default-sm: $spacing-default / 2;
$spacing-default-med: $spacing-default * 2;
