 {{#paper-form onSubmit=(action "save" ) as |form|}}
  <div>
    <label>
      {{form.input id="name" label="Name" value=model.name onChange=(action (mut model.name)) required=true}}
    </label>
  </div>
  <div>
    <label>
       {{form.input id="legalname" label="Legalname" type="text" value=model.legalName onChange=(action (mut model.legalName)) required=true}}
    </label>
  </div>
  <div>
    <label>
      {{form.input id="email" label="Email" type="email" value=model.email onChange=(action (mut model.email)) required=true}}
    </label>
  </div>
  <div>
    {{#form.submit-button type="submit" raised=true id='save-btn' primary=true}}Save{{/form.submit-button}}
  </div>
  {{/paper-form}}
