<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Legalname
      {{input type="text" value=model.legalName}}
    </label>
  </div>
  <div>
    <label>
      Email
      {{input type="text" value=model.email}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
