<p>
  {{link-to "Organization list" "organizations.index" }}
</p>

<h1>Organization show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Legalname:</strong>
  <span>{{model.legalName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

