<div
    >


  <div>


    <div>


      <h2>Flowers</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/all-flowers-and-plants">All Flowers &amp; Plants</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/all-bouquets">Flower Bouquets</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/flower-gift-bags">Flower Gift Bags</a>
        </li>
        <li>
          <a href="/s/food-and-wine/chelsea-flower-show">Chelsea Flower Show</a>
        </li>
        <li>
          <a href="/s/flowers-and-gifts/the-roses-shop">The Roses Shop</a>
        </li>
      </ul>
      <h2>Plants</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/plants">All Plants</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/plants/indoor-plants">Indoor Plants</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/plants/outdoor-plants">Outdoor Plants</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/plants/orchids">Orchids</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Flowers
        By Occasion</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/special-occasions/birthday-flowers">Birthday Flowers</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/special-occasions/thank-you-flowers">Thank You Flowers</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/special-occasions/sympathy-flowers">Sympathy Flowers</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/flowers-and-plants/special-occasions/new-home-flowers">New Home Flowers</a>
        </li>
        <li>
          <a
            href="/l/flowers-and-gifts/flowers-and-plants/special-occasions/wedding-flowers?intid=FG_TN_LinkF_WeddingFlowers">
            Wedding Flowers
          </a>
        </li>
      </ul>
      <h2>
        Hampers &amp; Food Gifts</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/food-and-wine-gifts?intid=FG_TN_Link_ViewAllFWGifts">View All Food &amp; Wine
            Gifts
          </a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/food-and-wine-gifts/hampers-and-food-gifts?intid=FG_TN_Link_HampersFoodGifts">
            Hampers &amp; Food Gifts
          </a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/food-and-wine-gifts/alcohol-gifts?intid=FG_TN_Link_AlcoholGifts">Alcohol Gifts
          </a>
        </li>
        <li>
          <a
            href="/l/flowers-and-gifts/food-and-wine-gifts/hampers-and-food-gifts/chocolate-and-sweet-gifts?intid=FG_TN_Link_ChocolatesSweets">
            Chocolates &amp; Sweet Gifts
          </a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Gifting</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/gift-cards/e-gift-cards">E-Gift Cards</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/gift-cards">Gift Cards</a>
        </li>
        <li>
          <a href="/c/flowers-and-gifts/gifts-for-her">Gifts For Her</a>
        </li>
        <li>
          <a href="/c/flowers-and-gifts/gifts-for-men">Gifts For Him</a>
        </li>
        <li>
          <a href="/c/flowers-and-gifts/gifts-for-kids-and-baby">Gifts For Kids &amp; Baby</a>
        </li>
        <li>
          <a href="/c/flowers-and-gifts/gifts-for-the-home-and-garden">Gifts For The Home &amp; Garden</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/magazine-subscriptions">Magazine Subscriptions</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/practical-accessories">Unique Gifts</a>
        </li>
      </ul>
      <h2>
        Stationery &amp; Wrapping</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/gift-bags-wrapping-paper-and-accessories">Wrap, Bags &amp; Accessories</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/all-stationery">Stationery</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/party-accessories">All Party Accessories</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/party-accessories/baby-shower">Baby Shower Accessories</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Greeting
        Cards</h2>
      <ul>
        <li>
          <a href="/l/flowers-and-gifts/greeting-cards/">All Greetings Cards</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/greeting-cards/birthday-cards">Birthday Cards</a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/greeting-cards/just-to-say-cards">Just to Say Cards</a>
        </li>
        <li>
          <a target="_blank" href="http://personalised.marksandspencer.com/">Personalised Cards</a>
        </li>
      </ul>
      <h2>Wedding</h2>
      <ul>
        <li>
          <a href="/s/wedding-shop/planning-your-wedding?intid=FG_TN_Link_WeddingPlan">Planning Your Wedding</a>
        </li>
        <li>
          <a
            href="/l/flowers-and-gifts/flowers-and-plants/special-occasions/wedding-flowers?intid=FG_TN_Link_WeddingFlowers">
            Wedding Flowers
          </a>
        </li>
        <li>
          <a href="/l/flowers-and-gifts/party-accessories/wedding?intid=FG_TN_Link_WeddingAccessories">Wedding
            Accessories
          </a>
        </li>
      </ul>

    </div>

  </div>
  <div>


    <div]'
        }'>


      <p>
        <a>Close</a>
      </p>
    </div>


    <h2>Featured</h2>


    <div>


      <div]'
          }'>


        <a href="/l/flowers-and-gifts/flowers-and-plants/all-flowers-and-plants?intid=FG_TN_Content1_ChelseaFlowers"
           target="_self">
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="Chelsea bouquet" alt="Chelsea bouquet">

        </a>
        <div>
          <h3>CHELSEA BOUQUET</h3>
          <p>We've won gold at the Chelsea Flower Show for the second year in a row. Take a piece of our stand home with
            you with our Chelsea bouquet</p>
          <p>
            <a href="/l/flowers-and-gifts/flowers-and-plants/all-flowers-and-plants?intid=FG_TN_Content1_ChelseaFlowers"
               title="Shop the bouquet"><span>Shop the bouquet</span></a>
          </p>
          <p>
            <a href="/s/food-and-wine/chelsea-flower-show?intid=FG_TN_Content1_ChelseaPage"
               title="Find out more about the stand"><span>Find out more about the stand</span></a>
          </p>
        </div>

      </div>

    </div>

    <div>


      <div]'
          }'>


        <a href="/l/flowers-and-gifts/food-and-wine-gifts?intid=FG_TN_Content2_hampers" target="_self"
          >
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="Hampers &amp; food gifts" alt="Hampers &amp; food gifts">

        </a>
        <div>
          <h3>HAMPERS &amp; FOOD GIFTS</h3>
          <p>Discover our range of elegant food and wine gifts and enjoy free nominated day delivery on orders over
            £50</p>
          <p>
            <a title="Hampers &amp; food gifts"
               href="/l/flowers-and-gifts/food-and-wine-gifts?intid=FG_TN_Content2_CHampers"><span>Shop hampers &amp; food gifts</span>
            </a>
          </p>
        </div>

      </div>

    </div>

  </div>


</div>