


<div
    >


  <div>


    <div>


      <h2>
        Womenswear Offers</h2>
      <ul>
        <li>
          <a href="/l/offers/occasion-hats-free-gift">Spend £25 get a Free Hat Box</a>
        </li>
        <li>
          <a href="/l/offers/buy-1-get-1-half-price-on-selected-tshirts">T-Shirt Offer - Buy 1 get 1 Half Price</a>
        </li>
      </ul>
      <ul>
        <h2>Lingerie
          Offers</h2>
        <li>
          <a href="/l/offers/3-for-2-mix-and-match-knickers?intid=op_lhn_5_1_342knickers_161214">3 for 2 Knickers</a>
        </li>
        <li>
          <a href="/l/offers/3-for-2-socks?intid=op_lhn_5_2_342socks_311214">3 for 2 Socks</a>
        </li>
        <li>
          <a href="/l/offers/buy-1-get-1-half-price-on-vests?intid=op_lhn_5_3_248vests_161214">Vests - Buy 1 Get 1 Half
            Price
          </a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Beauty
        Offers</h2>
      <ul>
        <li>
          <a href="/l/offers/beauty/50-off-ambre-solaire">50% off Ambre Solaire</a>
        </li>
        <li>
          <a href="/l/beauty/nivea">50% off Nivea</a>
        </li>
        <li>
          <a href="/l/beauty/sun-smart">Buy 2 for £13 Sunsmart</a>
        </li>
        <li>
          <a href="/l/offers/beauty">All Beauty Offers</a>
        </li>
      </ul>
      <h2>Menswear
        Offers</h2>
      <ul>
        <li>
          <a href="/l/men/tops-tshirts-and-polos/euro-tshirts">50% off Euro 2016 T-Shirts</a>
        </li>
        <li>
          <a href="/l/offers/buy-2-luxury-shirts-for-60-or-3-for-90">£45 Luxury Shirts - 2 for £60 or 3 for £90</a>
        </li>
        <li>
          <a
            href="/content/mns/en_GB/global_elements/global-nav/blackfridayoffers/tier_Sale3rdCut112.html/s/men/made-to-measure-shirts"></a>
          <a href="/l/offers/free-alterations-on-suits-over-299-2137501">Free Alterations on Suits over £299</a>
        </li>
        <li>
          <a href="/s/men/made-to-measure-shirts">Made to Measure Shirts - 2 for £99</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Kids
        Offers</h2>
      <ul>
        <li>
          <a href="/l/kids/school-uniform/girls">20% Off Girls' School Uniform</a>
        </li>
        <li>
          <a href="/l/kids/school-uniform/boys">20% Off Boys' School Uniform</a>
        </li>
      </ul>
      <h2>Furniture
        Offers</h2>
      <ul>
        <li>
          <a href="/l/offers/buy-2-save-20-on-selected-mix-and-match-furniture">Furniture Buy 2 Save 20%</a>
        </li>
        <li>
          <a href="/l/home-and-furniture/garden-furniture">20% off Garden Furniture</a>
        </li>
        <li>
          <a href="/l/offers/furniture-clearance">Furniture Clearance</a>
        </li>
      </ul>
      <h2>Home
        Offers</h2>
      <ul>
        <li>
          <a href="/l/home-and-furniture/towels/beach-towels">Buy 1 Get 1 Half Price Beach Towels</a>
        </li>
        <li>
          <a href="/l/home-and-furniture/cookware/kitchen-electricals/kitchen-aid-n-cyh7l">KitchenAid - Free gift</a>
        </li>
        <li>
          <a href="/l/offers/pillow-multibuy-offers?intid=op_lhn_9_2_multipillows_161214">Multi Buy Pillows</a>
        </li>
        <li>
          <a href="/l/offers/3-for-2-single-stems?intid=op_lhn_9_4_342flowers_161214">3 for 2 Artificial Flowers</a>
        </li>
      </ul>

    </div>

    <div>


      <h2>Wine
        Offers</h2>
      <ul>
        <li>
          <a href="/l/offers/summer-wine-event">Up to 50% off Summer Wine Event</a>
        </li>
        <li>
          <a href="/l/offers/this-months-offers/champagne-and-sparkling-offers">Up to 50% off Champagne &amp;
            Sparkling
          </a>
        </li>
      </ul>


      <h2>Food
        Offers</h2>
      <ul>
        <li>
          <a href="/s/food-and-wine/in-store-offers">In-store Food Offers</a>
        </li>
        <li>
          <a href="/s/food-and-wine/dine-in">In-Store: Dine In For Two</a>
        </li>
      </ul>

    </div>

  </div>
  <div>


    <div]'
        }'>


      <p>
        <a>Close</a>
      </p>
    </div>


    <h2>Featured</h2>


    <div>


      <div]'
          }'>


        <a href="/l/home-and-furniture/garden-furniture?intid=OFF_TN_1_img_garden" target="_self"
          >
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="Garden furniture" alt="Garden furniture">

        </a>
        <div>
          <h3>20% OFF GARDEN FURNITURE</h3>
          <p>Make the most of summer with our offers on outdoor and conservatory furniture</p>
          <p style="margin-top: 1em;"><span><a href="/l/home-and-furniture/garden-furniture?intid=OFF_TN_1_txt_5DAYS"
                                               title="Shop garden furniture">Shop garden furniture</a></span></p>
        </div>

      </div>

    </div>

    <div>


      <div]'
          }'>


        <a href="/s/kids/school-uniform?intid=OFF_TN_CS_2_BTS" target="_self">
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="20% off school uniform" alt="20% off school uniform">

        </a>
        <div>
          <h3>20% OFF SCHOOL UNIFORM</h3>
          <p>Get set for the new term with 20% off our great value, easy-care and comfortable school uniform</p>
          <p style="margin-top: 1em;">
            <a href="/l/kids/school-uniform/girls?intid=OFF_TN_1_txt_BTS_girls" title="Shop 20% off girls’ uniform">
              <span>Shop 20% off girls’ uniform</span></a>
          </p>
          <p style="margin-top: 1em;">
            <a href="/l/kids/school-uniform/boys?intid=OFF_TN_2_txt_BTS_boys" title="Shop 20% off boys’ uniform"><span>Shop 20% off boys’ uniform</span>
            </a>
          </p>
        </div>

      </div>

    </div>

  </div>


</div>
