<div>


  <div>


    <div>


      <ul>
        <h2>New In</h2>
        <li>
          <a href="/l/beauty/new-in-beauty">All New In</a>
        </li>
        <li>
          <a href="/l/beauty/new-in-beauty/new-in-bath-and-body">New In Bath &amp; Body</a>
        </li>
        <li>
          <a href="/l/beauty/new-in-beauty/new-in-make-up">New In Make-up</a>
        </li>
        <li>
          <a href="/l/beauty/new-in-beauty/new-in-skincare">New In Skincare</a>
        </li>
        <li>
          <a href="/l/beauty/coola">Coola</a>
        </li>
        <li>
          <a href="/l/beauty/gatineau">Gatineau</a>
        </li>
        <li>
          <a href="/l/beauty/joan-collins">Joan Collins</a>
        </li>
        <li>
          <a href="/l/beauty/margaret-dabbs">Margaret Dabbs</a>
        </li>
        <li>
          <a href="/l/beauty/nivea">Nivea</a>
        </li>
        <li>
          <a href="/l/beauty/scaramouche-and-fandango">Scaramouche + Fandango</a>
        </li>
        <li>
          <a href="/l/beauty/vita-liberata">Vita Liberata</a>
        </li>
      </ul>
      <h2>Offers</h2>
      <ul>
        <li>
          <a href="/l/offers/beauty?intid=BT_TN_OFFER_txt">All Beauty Offers</a>
        </li>
      </ul>

    </div>

    <div>


      <ul>
        <h2>Category</h2>
        <li>
          <a href="/l/beauty/beauty-accessories">Accessories</a>
        </li>
        <li>
          <a href="/l/beauty/bath-and-body">Bath &amp; Body</a>
        </li>
        <li>
          <a href="/l/beauty/electricals">Electricals</a>
        </li>
        <li>
          <a href="/l/beauty/gifting">Gifting</a>
        </li>
        <li>
          <a href="/l/beauty/haircare">Haircare</a>
        </li>
        <li>
          <a href="/l/beauty/bath-and-body/hand-and-nail">Hand &amp; Nail Cream</a>
        </li>
        <li>
          <a href="/l/beauty/makeup">Make-up</a>
        </li>
        <li>
          <a href="/l/beauty/mens-grooming?intid=BT_TN_MENSGR_txt">Men's Grooming</a>
        </li>
        <li>
          <a href="/l/beauty/mother-and-baby">Mother &amp; Baby</a>
        </li>
        <li>
          <a href="/l/beauty/nails">Nails</a>
        </li>
        <li>
          <a href="/l/beauty/skincare">Skincare</a>
        </li>
        <li>
          <a href="/l/beauty/bath-and-body/soap-and-handwash">Soaps &amp; Handwash</a>
        </li>
        <li>
          <a href="/l/beauty/skincare/sun-cream">Sun Cream</a>
        </li>
        <li>
          <a href="/l/beauty/holiday-and-travel">Travel &amp; Holiday</a>
        </li>
        <li>
          <a href="/l/beauty/womens-perfume">Women's Perfume</a>
        </li>
      </ul>

    </div>

    <div>


      <ul>
        <h2>Brand</h2>
        <li>
          <a href="/s/beauty/az-of-beauty-brands">A-Z Beauty Brands</a>
        </li>
        <li>
          <a href="/l/beauty/alpha-h">Alpha H</a>
        </li>
        <li>
          <a href="/l/beauty/autograph">Autograph</a>
        </li>
        <li>
          <a href="/l/beauty/eyeko">Eyeko</a>
        </li>
        <li>
          <a href="/l/beauty/filorga">Filorga</a>
        </li>
        <li>
          <a href="/l/beauty/loccitane">L'Occitane</a>
        </li>
        <li>
          <a href="/l/beauty/neals-yard-remedies">Neal's Yard</a>
        </li>
        <li>
          <a href="/l/beauty/nuxe">Nuxe</a>
        </li>
        <li>
          <a href="/l/beauty/philip-kingsley">Philip Kingsley</a>
        </li>
        <li>
          <a href="/l/beauty/pixi">Pixi</a>
        </li>
        <li>
          <a href="/l/beauty/ren">REN</a>
        </li>
        <li>
          <a href="/l/beauty/rosie-for-autograph">Rosie for Autograph</a>
        </li>
        <li>
          <a href="/l/beauty/stila">Stila</a>
        </li>
        <li>
          <a href="/l/beauty/st-tropez">St Tropez</a>
        </li>
        <li>
          <a href="/l/beauty/ultrasun">Ultrasun</a>
        </li>
      </ul>

    </div>

    <div>


      <ul>
        <h2>Skin
          Concern</h2>
        <li>
          <a href="/l/beauty/shop-by-skin-concern">All Targeted Skincare</a>
        </li>
        <li>
          <a href="/s/beauty/antiageing-solutions">Anti-ageing</a>
        </li>
        <li>
          <a href="/l/beauty/shop-by-skin-concern/dark-circles-and-puffiness">Dark Circles</a>
        </li>
      </ul>
      <ul>
        <h2>Holiday</h2>
        <li>
          <a href="/l/beauty/makeup/face/bronzer">Bronzer</a>
        </li>
        <li>
          <a href="/l/beauty/fake-tan">Fake Tan</a>
        </li>
        <li>
          <a href="/l/beauty/skincare/sun-cream">Sun Cream</a>
        </li>
        <li>
          <a href="/l/beauty/holiday-and-travel/toiletry-bags">Toiletry Bags</a>
        </li>
        <li>
          <a href="/l/beauty/holiday-and-travel/travel-size-toiletries">Travel Size Toiletries</a>
        </li>
      </ul>
      <ul>
        <h2>Be
          Inspired</h2>
        <li>
          <a href="/l/beauty/award-winning-beauty">Award Winning Beauty</a>
        </li>
        <li>
          <a href="/s/beauty/how-to-fake-tan">How to Fake Tan</a>
        </li>
        <li>
          <a href="/s/beauty/how-to-stay-safe-in-the-sun">Suncare Guide</a>
        </li>
      </ul>

    </div>

  </div>
  <div>


    <h2>Featured</h2>


    <div>


      <div]'
          }'>


        <a href="/l/beauty/skincare/sun-cream?intid=BT_TN_1_img_1">
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="Suncare products on beach" alt="Suncare products on beach">

        </a>
        <div>
          <h3>PREPARE TO BARE</h3>
          <p>Show your skin some love with our edit of foolproof fake tans and five-star sun creams</p>
          <p style="margin-top: 1em;">
            <a title="Shop sun creams" href="/l/beauty/skincare/sun-cream?intid=BT_TN_1_txt_1">
              <span>Shop sun creams</span></a>
          </p>
          <p style="margin-top: 1em;">
            <a title="Shop fake tan" href="/l/beauty/fake-tan?intid=BT_TN_1_txt_2"><span>Shop fake tan</span></a>
          </p>
        </div>

      </div>

    </div>

    <div>


      <div]'
          }'>


        <a href="/l/beauty/skincare?intid=BT_TN_2_img_1">
          <img src="//int-asset2.cxnmarksandspencer.com/81.1/images/global/bgs/lazyload.gif"
               data-mns-lazyload

               title="Flat lay of skincare products" alt="Flat lay of skincare products">

        </a>
        <div>
          <h3>GREAT SKIN MADE EASY</h3>
          <p>We’ve made it easy to achieve the complexion of your dreams, with our edit of the best beautifying skincare
            buys</p>
          <p style="margin-top: 1em;">
            <a href="/l/beauty/skincare?intid=BT_TN_2_txt_1" title="Shop skin care"><span>Shop skin care</span></a>
          </p>
        </div>

      </div>

    </div>

  </div>


</div>