body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-wrapper {
  max-width: 850px;
  width: 100%;

  .m-toggle-pane__1,
  .m-toggle-pane__2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-query-small {
      flex-wrap: nowrap;
    }

    > div {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

  }

  %icon-spacing {
    top: .4rem;
    margin-right: 20px;
    font-size: 3rem;
  }

  .gift-price__icon--confirmation {
    @extend %icon-spacing;
    color: $color__brand--green;
  }

  .gift-price__icon--gift {
    @extend %icon-spacing;
  }
}
