<p>
  {{link-to "Host list" "hosts.index" }}
</p>

<h1>Host show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

