{{#paper-form onSubmit=(route-action "save" ) as |form|}}
  <div>
    <label>
    {{form.input id="name" label=" Name" type="text" value=model.name onChange=(action (mut model.name)) required=true}}
    </label>
  </div>
  <div>
    <label>
     {{form.input id="title" label=" Title" type="text" value=model.title onChange=(action (mut model.title)) required=true}}
    </label>
  </div>
  <div>
    <label>
     {{paper-input block=true textarea=true id="description" label="Description" type="text" value=model.description onChange=(action (mut model.description)) required=true}}
    </label>
  </div>
  <div>
    <label>
    {{form.input id="visibility" label="Visibility" type="text" value=model.visibility onChange=(action (mut model.visibility)) required=true}}
    </label>
  </div>
  <div>
{{#form.submit-button type="submit" raised=true id='save-btn' value="Save" primary=true}}Save{{/form.submit-button}}
  </div>
{{/paper-form}}


